Data Loading and Sanity CHecks

In [149]:
import pandas as pd

In [150]:
hr_attendance_df = pd.read_csv('hr_attendance.csv', sep=',')
hr_employee_df = pd.read_csv('hr_employees.csv', sep=",")
hr_performance_df = pd.read_csv('hr_performance.csv', sep=",")
hr_salary_history_df = pd.read_csv('hr_salary_history.csv', sep=",")

In [176]:
hr_attendance_df.head()

                    status
emp_id date
1001   2024-01-10  Present
       2024-01-17   Absent
       2024-01-19   Absent
       2024-01-22  Present
       2024-01-30   Absent

In [177]:
hr_employee_df.head()

       department grade   join_date  manager_id
emp_id
1001          Ops    L3  2016-02-14      1028.0
1002           HR    L2  2017-10-09      1016.0
1003        Sales    L2  2021-07-19      1005.0
1004        Sales    L2  2017-05-10      1035.0
1005          Ops    L2  2016-07-16      1013.0

In [178]:
hr_performance_df.head()

   emp_id  year  rating
0    1030  2023     1.5
1    1001  2023     2.6
2    1017  2023     4.7
3    1047  2023     3.8
4    1018  2024     1.4

In [179]:
hr_salary_history_df.head()

                       salary
emp_id effective_date
1001   2020-02-11       75433
       2020-12-31      130445
       2022-04-26       60566
       2023-09-10       72419
1003   2019-04-04       64361

In [155]:
#removing duplicates row  missing values
hr_attendance_df = hr_attendance_df.drop_duplicates()
hr_employee_df = hr_employee_df.dropna(axis=0)
hr_performance_df = hr_performance_df.drop_duplicates()

In [156]:
def sanity_check(df):
    invalid_values = ["NA", "N/A", "null", "None", "-"]
    print("\nShape of DataFrame:", df.shape)
    print("\n Columns and Data types: ", df.dtypes)
    print("\n Missing values in each column:", df.isnull().sum())
    print("\n Duplicate rows:", df.duplicated().sum())
    for col in df.columns:
        if df[col].isin (invalid_values).any():
            count = df[col].isin(invalid_values).sum()
            print(f"\n Invalid values found in column {col}")

In [157]:
sanity_check(hr_attendance_df)

Shape of DataFrame: (1160, 3)

 Columns and Data types:  emp_id     int64
date      object
status    object
dtype: object

 Missing values in each column: emp_id    0
date      0
status    0
dtype: int64

 Duplicate rows: 0

In [158]:
sanity_check(hr_employee_df)

Shape of DataFrame: (59, 5)

 Columns and Data types:  emp_id          int64
department     object
grade          object
join_date      object
manager_id    float64
dtype: object

 Missing values in each column: emp_id        0
department    0
grade         0
join_date     0
manager_id    0
dtype: int64

 Duplicate rows: 0

In [159]:
sanity_check(hr_performance_df)

Shape of DataFrame: (236, 3)

 Columns and Data types:  emp_id      int64
year        int64
rating    float64
dtype: object

 Missing values in each column: emp_id    0
year      0
rating    0
dtype: int64

 Duplicate rows: 0

In [160]:
sanity_check(hr_salary_history_df)

Shape of DataFrame: (180, 3)

 Columns and Data types:  emp_id             int64
effective_date    object
salary             int64
dtype: object

 Missing values in each column: emp_id            0
effective_date    0
salary            0
dtype: int64

 Duplicate rows: 0

Indexing adn Time Alignment

In [161]:
#setting emp_id as index for hr_employee_df
hr_employee_df = hr_employee_df.set_index("emp_id").sort_index()

In [162]:
#settign multiindex on salary_history_df => emp_id and effective_date and attendance => emp_id and date
hr_salary_history_df = hr_salary_history_df.set_index(["emp_id", "effective_date"]).sort_index()
hr_attendance_df = hr_attendance_df.set_index(["emp_id", "date"]).sort_index()

In [163]:
hr_salary_history_df.head()

                       salary
emp_id effective_date
1001   2020-02-11       75433
       2020-12-31      130445
       2022-04-26       60566
       2023-09-10       72419
1003   2019-04-04       64361

In [164]:
hr_attendance_df.head()

                    status
emp_id date
1001   2024-01-10  Present
       2024-01-17   Absent
       2024-01-19   Absent
       2024-01-22  Present
       2024-01-30   Absent

Salary Normalization

In [173]:
#salary_history grouped by emp_id
salary_history_grouped = hr_salary_history_df.groupby(level='emp_id').tail(1).reset_index().set_index('emp_id').sort_index()

In [174]:
#lates effective salary for each employee
salary_history_grouped.head()

       effective_date  salary
emp_id
1001       2023-09-10   72419
1003       2024-01-02   87510
1004       2021-05-23   95257
1005       2022-10-24   39216
1006       2024-02-10   88861

Join Operations